
03 - building-regression-models-scikit-learn/.ipynb_checkpoints/

04 - building-clustering-models-with-scikit-learn/.ipynb_checkpoints/

04 - building-clustering-models-with-scikit-learn/Answers/.ipynb_checkpoints/

04 - building-clustering-models-with-scikit-learn/datasets/.ipynb_checkpoints/

05 - bulding-neural-networks-scikit-learn/.ipynb_checkpoints/
